{% extends 'Proyecto/base.html' %}

{% load static %}

{% block title %}Editar Contraseña{% endblock title %}

{% block main %}
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-header bg-transparent">
            <h3 class="text-center fs-4 fw-bold">Editar Contraseña</h3>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Confirmar Cambio" class="btn btn-primary w-100 mt-3">
            </form>
        </div>
    </div>
</div>
{% endblock main %}
