{% extends 'Proyecto/base.html' %}

{% block title %}Mi Diario de Progreso{% endblock title %}

{% block main %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 class="display-4 mb-4">¡Tu bienestar es nuestro compromiso!</h2>
                <p class="lead mb-4">
                    Con nuestra plataforma, tienes la posibilidad de supervisar tu avance diariamente, establecer metas alcanzables y seguir tus logros en salud y nutrición. Descubre cómo nuestra herramienta puede ser tu aliada para un estilo de vida equilibrado y saludable.
                </p>
                <p class="mb-0">Estamos aquí para apoyarte en cada paso del camino. Únete a nosotros y da el primer paso hacia una salud óptima hoy mismo.</p>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-warning" style="color: black;"> 
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 class="display-4 fw-bold mb-4">Comienza tu travesía hacia el bienestar</h2>

                {% if not request.user.is_authenticated %}
                <a href="{% url 'Register' %}" class="btn btn-primary btn-lg me-3">Crear Cuenta</a>
                <a href="{% url 'Login' %}" class="btn btn-light btn-lg">Ingresar</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock main %}
