{% extends 'Proyecto/base.html' %}

{% load static %}

{% block title %}Sobre Nosotros{% endblock title %}

{% block main %}
    <div class="container my-5">
        <h2 class="text-center">Sobre Nosotros</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Nuestra Misión</h3>
                <p>
                    En Nutrite, nuestra misión es ayudarte a alcanzar tus metas de salud y bienestar
                    a través del seguimiento y la gestión de tu progreso diario. Creemos en la importancia de una
                    vida saludable y estamos aquí para apoyarte en cada paso del camino.
                </p>
                <h3>¿Quiénes Somos?</h3>
                <p>
                    Somos un equipo de profesionales apasionados por la nutrición y el bienestar. Con una
                    combinación de expertos en nutrición, desarrolladores de software y entrenadores personales,
                    hemos creado una plataforma que te permite llevar un control detallado de tu progreso.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="https://us.123rf.com/450wm/mnaufal/mnaufal1902/mnaufal190200197/117697438-icono-de-plan-de-dieta-hoja-de-lista-de-nutrici%C3%B3n-de-alimentos-con-s%C3%ADmbolo-de-manzana-y-pl%C3%A1tano.jpg?ver=6" alt="Equipo Nutrite" class="img-fluid rounded mb-4 square-img">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbQtuLL_N0dQWllPWtL7jfyQ0onccqOBQ4jA&s" alt="Nutrición Saludable" class="img-fluid rounded mb-4 square-img">
            </div>
            <div class="col-md-6">
                <h3>Nuestros Valores</h3>
                <ul>
                    <li><strong>Compromiso:</strong> Estamos comprometidos con tu bienestar.</li>
                    <li><strong>Innovación:</strong> Utilizamos tecnología de punta para ofrecerte las mejores herramientas.</li>
                    <li><strong>Calidad:</strong> Priorizamos la calidad en todos nuestros servicios.</li>
                    <li><strong>Apoyo:</strong> Estamos aquí para apoyarte en cada paso de tu camino hacia una vida saludable.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock main %}
